$breakpoint-phone: "only screen and (max-width: 415px)";
$breakpoint-desktop: "only screen and (max-width: 1370px)";

$color-blue: #102A43;
$color-orange: #F58424;
$color-dark-orange: #e57e27;
$color-light-orange: #FF9C49;
$color-white: #fff;
$color-green: #41A541;
$color-dark-green: #2b6e2b;
$color-light-blue: #829AB1;
$color-light-grey: #F0F4F8;
$color-dark-grey: #627D98;
$color-grey: #9FB3C8;
$color-black: #071307;
$color-light-black:  #2C2E30;
$color-dark-black: #19212C;
