.m-feature-keep-track {
    margin-top: 150px;
    @media #{$breakpoint-phone} {
        margin-top: 50px;
    }

    .keep-track-title {
        text-align: center;
        font-family: 'Proxima Nova Bold', sans-serif;
        font-size: 44px;
        line-height: 50px;
        max-width: 500px;
        margin: 0 auto;
        @media #{$breakpoint-ipad} {
            font-size: 36px;
            line-height: 42px;
        }
        @media #{$breakpoint-phone} {
            font-size: 31px;
            line-height: 35px;
            text-align: left;
            margin: 50px 0 0 0;
        }
    }

    .keep-track-description {
        text-align: center;
        font-size: 22px;
        line-height: 30px;
        max-width: 550px;
        margin: 19px auto 65px;
        @media #{$breakpoint-ipad} {
            font-size: 18px;
            line-height: 20px;
        }
        @media #{$breakpoint-phone} {
            font-size: 16px;
            line-height: 22px;
            text-align: left;
            margin: 19px auto 35px;
        }
    }

    .keep-track-item {
        font-family: 'Proxima Nova Bold', sans-serif;
        display: flex;
        padding: 0;

        img {
            margin: 10px 26px 60px 0;
            width: 30%;
            height: auto;
            @media #{$breakpoint-ipad} {
                margin: 10px 26px 30px 0;
            }
            @media #{$breakpoint-phone} {
                width: 13%;
                margin: 0 26px 28px 16px;
            }
        }

        p {
            margin: 17px 25px 0 0;
            font-size: 22px;
            line-height: 30px;
            @media #{$breakpoint-ipad} {
                font-size: 18px;
                line-height: 20px;
            }
            @media #{$breakpoint-phone} {
                margin: 0 10px 0 0;
                font-size: 16px;
                line-height: 18px;
            }
        }
    }
}
