.m-get-started {
    text-align: center;

    .get-started-title{
        font-weight: bold;
        font-size: 44px;
        line-height: 50px;
        margin: 0;
    }

    .get-started-description {
        font-size: 22px;
        line-height: 30px;
        margin: 0;
    }
}
