@import "../variables";

.m-type-of-plan {
    box-shadow: 0px 7px 22px rgba(0, 0, 0, 0.07);
    position: relative;
    border-radius: 6px;
    @media #{$breakpoint-phone} {
        border-radius: 16px;
    }

    .img-type-of-plan {
        position: absolute;
        width: 100%;
        height: auto;
        display: block;
        @media #{$breakpoint-phone} {
            display: none;
        }
    }

    .img-type-of-plan-mobile {
        display: none;
        position: absolute;
        @media #{$breakpoint-phone} {
            display: block;
        }
    }

    .plan-title {
        background-color: $color-light-grey;
        text-align: center;
        width: 100%;
        padding: 15px 0;
        font-weight: bold;
        font-size: 31px;
        line-height: 35px;
        border-radius: 6px 6px 0px 0px;
        @media #{$breakpoint-phone} {
            background-color: transparent;
            text-align: left;
            padding: 32px 0 0 25px;
        }

        p {
            margin: 0;
        }
    }

    .plan-price {
        text-align: center;
        padding: 45px 0 80px;
        margin-bottom: 0;
        color: color-blue;
        @media #{$breakpoint-phone} {
            padding: 0 0 24px 25px;
            text-align: left;
            margin-bottom: 46px;
            color: $color-light-black;

        }

        .dollar-sign {
            font-weight: bold;
            font-size: 44px;
            line-height: 50px;
            position: relative;
            top: -13px;
            @media #{$breakpoint-phone} {
                font-size: 22px;
                line-height: 25px;
            }
        }

        .price {
            font-weight: bold;
            font-size: 87px;
            line-height: 100px;
            @media #{$breakpoint-phone} {
                font-size: 62px;
                line-height: 70px;
            }
        }

        .monthly {
            font-family: 'Proxima Nova Bold', sans-serif;
            font-size: 31px;
            line-height: 35px;
            @media #{$breakpoint-phone} {
                font-size: 22px;
                line-height: 25px;
            }
        }
    }

    .plan-and-price-btn {
        text-align: center;
        padding-bottom: 80px;
        position: relative;
        @media #{$breakpoint-phone} {
            padding-bottom: 0;
            position: absolute;
            right: 12px;
            bottom: 45px;
        }
    }
}
