.m-type-of-plan {
    box-shadow: 0px 7px 22px rgba(0, 0, 0, 0.07);
    position: relative;
    border-radius: 6px;

    .img-type-of-plan {
        position: absolute;
        width: 100%;
        height: auto;
    }

    .plan-title {
        background-color: $color-light-grey;
        text-align: center;
        width: 100%;
        padding: 15px 0;
        font-weight: bold;
        font-size: 31px;
        line-height: 35px;
        border-radius: 6px 6px 0px 0px;

        p {
            margin: 0;
        }
    }

    .plan-price {
        text-align: center;
        padding: 45px 0 80px;

        .dollar-sign {
            font-weight: bold;
            font-size: 44px;
            line-height: 50px;
            position: relative;
            top: -13px;
        }

        .price {
            font-weight: bold;
            font-size: 87px;
            line-height: 100px;
        }

        .monthly {
            font-weight: bold;
            font-size: 31px;
            line-height: 35px;
        }
    }

    .plan-and-price-btn {
        text-align: center;
        padding-bottom: 80px;
    }
}
